footer {
    background-color: #118a1b; /* Fondo oscuro */
    color: white;           /* Texto en blanco */
    padding: 1px 0;        /* Espaciado interno (padding) */
    text-align: center;     /* Centra el texto */
    font-size: 14px;        /* Tamaño de fuente */
    position: fixed;
    bottom: 0;
    width: 100%;
}
h1 {
    background-color: #198d28; /* Fondo oscuro */
    color: white;           /* Texto en blanco */
    padding: 20px 0;        /* Espaciado interno (padding) */
    text-align: center;     /* Centra el texto */
    font-size: 14px;        /* Tamaño de fuente */
    position: relative;
    bottom: 0;
    width: 100%;
}
.contenedor {
    display: flex; /* Usamos Flexbox para alinear las divisiones en una fila */
    gap: 20px; /* Espacio entre las divisiones */
}

.chaparrastique, .alegria, .pericon {
    width: 48%; /* Ajusta el tamaño de las divisiones */
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #05360e;
    background-color: #f0f0f0;
}

.chaparrastique img,  .pericon img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.alegria img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.chaparrastique p, .alegria p, .pericon {
    font-size: 16px;
    color: #333;
    text-align: center;
}
